.displayTemperatureWrap {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 30px;
    align-items: center;
}

.displayTemperatureWrap h2 {
    text-transform: uppercase;
    font-size: 20px;
}

.displayTemperature {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.temperatureValue {
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold;
}

.temperatureImage {
    width: 30px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .displayTemperatureWrap {
        margin-bottom: 20px;
    }
    .displayTemperature {
        margin-top: 20px;
    }
    .temperatureValue {
        font-size: 30px;
        margin-left: 20px;
        font-weight: bold;
    }
    .temperatureImage {
        width: 20px;
    }
    .displayTemperatureWrap h2 {
        font-size: 18px;
    }
}