.heaterWrap{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    height: 80px;
}

.heaterImage{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.isElementfailed {
    width: 30px;
    height: 30px;
}
.on {
    font-size: 16px;
    color: #63CEBE;
    font-weight: bold;
}
.off {
    font-size: 16px;
    color: #ff8c5a;
    font-weight: bold;
}
.elementState {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.elementName {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.elementName h5 {
    font-size: 14px;
    font-weight: bold;
}