.loginWrap {
    margin-top: 20vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.loginWrap h3 {
    font-size: 22px;
    font-weight: bold;
}
.loginInput, .passwordInput {
    width: 260px;
}
.loginWrap form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: 20px;
}
.loginWrap form > * {
    margin: 5px;
}
.inputError{
    border: 1px solid red !important;
}
.errorMessage {
    color: red;
}
.loginWrap input {
    outline: none;
    outline: unset;
    background-color: #343755;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
}
.loginWrap input:focus {
    border: 1px solid #63CEBE;
}
.loginWrap button {
    display: block;
    background-color: #343755;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 30px;
    margin-top: 10px;
}

.loginWrap > form > div:last-child {
    align-self: flex-end;
}

.loginWrap button:active {
    border: 1px solid #63CEBE;
    color: #63CEBE;
}
.loginWrap button:hover {
    background-color: rgba(99, 206, 190, 0.2);
    color: #63CEBE;
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {

}